---
import Layout from "~/layouts/Layout.astro";
import { newtClient } from "~/lib/newt";
import type { Post as PostContentType } from "~/types/contents";
import Post from "~/components/Post.astro";

const { items: postItems } = await newtClient.getContents<PostContentType>({
  appUid: "blog",
  modelUid: "article",
  query: {
    select: ["title", "slug", "tags", "body", "_sys"],
  },
});
---

<Layout
  title="Posts | Yusuke4869"
  description="投稿一覧"
  imageUrl={`https://${import.meta.env.PUBLIC_OG_FQDN}/img/投稿一覧?bg=https://${
    import.meta.env.PUBLIC_OG_FQDN
  }/blog.svg`}
>
  <h1 class="text-3xl font-bold md:text-4xl">Posts</h1>
  <div class="my-4 md:ml-10">
    {
      postItems.map((post) => (
        <Post title={post.title} slug={post.slug} tags={post.tags} createdAt={post._sys.createdAt} />
      ))
    }
  </div>
</Layout>
