---
import Link from "~/components/Link.astro";
import Post from "~/components/Post.astro";
import Product from "~/components/Product.astro";
import Qualification from "~/components/Qualification.astro";
import Layout from "~/layouts/Layout.astro";
import { newtClient } from "~/lib/newt";

import type {
  AboutMe as AboutMeContentType,
  Product as ProductContentType,
  Post as PostContentType,
} from "~/types/contents";

const { items: aboutMeItems } = await newtClient.getContents<AboutMeContentType>({
  appUid: "portfolio",
  modelUid: "about",
  query: {
    select: ["name", "biography", "qualifications", "links"],
  },
});
const aboutMeItem = aboutMeItems[0];

const { items: productItems } = await newtClient.getContents<ProductContentType>({
  appUid: "portfolio",
  modelUid: "products",
  query: {
    select: ["name", "slug", "description"],
  },
});

const { items: postItems } = await newtClient.getContents<PostContentType>({
  appUid: "blog",
  modelUid: "article",
  query: {
    select: ["title", "slug", "tags", "body", "_sys"],
  },
});
---

<Layout
  title="Home | Yusuke4869"
  description="Yusuke4869のポートフォリオ"
  imageUrl={`https://${import.meta.env.PUBLIC_OG_FQDN}/img/${encodeURIComponent("ポートフォリオ")}?bg=https://${import.meta.env.PUBLIC_OG_FQDN}/product.svg`}
>
  <div class="mb-6">
    <h2 class="text-2xl font-medium">About me</h2>
    <div class="my-3 pl-3 md:ml-14 lg:ml-28">
      <article set:html={aboutMeItem.biography} class="markdown" />
    </div>
  </div>
  <div class="mb-6">
    <div class="flex items-end justify-between">
      <h2 class="text-2xl font-medium">Products</h2>
      <a href="/products" class="text-sm hover:underline hover:underline-offset-2">View All Products</a>
    </div>
    <div class="my-3 md:ml-14 lg:ml-28">
      {
        productItems
          .slice(0, 5)
          .map((product) => <Product name={product.name} slug={product.slug} description={product.description} />)
      }
    </div>
  </div>
  <div class="mb-6">
    <div class="flex items-end justify-between">
      <h2 class="text-2xl font-medium">Posts</h2>
      <a href="/posts" class="text-sm hover:underline hover:underline-offset-2">View All Posts</a>
    </div>
    <div class="my-3 md:ml-14 lg:ml-28">
      {
        postItems
          .slice(0, 5)
          .map((post) => <Post title={post.title} slug={post.slug} tags={post.tags} createdAt={post._sys.createdAt} />)
      }
    </div>
  </div>
  <div class="mb-6">
    <h2 class="text-2xl font-medium">Licenses & Qualifications</h2>
    <ul class="my-3 ml-8 list-disc md:ml-20 md:pl-2 lg:ml-36 lg:pl-0">
      {
        aboutMeItem.qualifications.map((qualification) => (
          <Qualification name={qualification.name} date={qualification.date} />
        ))
      }
    </ul>
  </div>
  <div>
    <h2 class="text-2xl font-medium">Links</h2>
    <div class="my-3 md:ml-14 lg:ml-28">
      {aboutMeItem.links.map((link) => <Link name={link.name} url={link.url} iconName={link.iconName} />)}
    </div>
  </div>
</Layout>
